<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <bean id="jungleBean" class="com.practise.spring.Jungle">
        <property name="largest">
            <bean class="com.practise.spring.Animal">
                <property name="name" value="Rinku"></property>
                <property name="type" value="Elephant"></property>
            </bean>
        </property>
        <property name="animals">
            <list>
                <bean id="lion" class="com.practise.spring.Animal">
                    <property name="name" value="Chintu"></property>
                    <property name="type" value="Lion"></property>
                </bean>

                <bean id="fox" class="com.practise.spring.Animal">
                    <property name="name" value="Mintu"></property>
                    <property name="type" value="Fox"></property>
                </bean>
            </list>
        </property>
    </bean>

</beans>